In [7]:
import pandas as pd
import os 
import sqlite3

path_db = "banco_de_dados.db"

conn = sqlite3.connect(path_db)
df_cliente = pd.read_sql_query("SELECT * FROM clientes", conn) 
df_conta = pd.read_sql_query("SELECT * FROM contas", conn)

df_completo = pd.merge(df_conta, df_cliente, left_on="cpf_cliente", right_on="cpf")

df_completo = df_completo.drop(columns=["cpf_cliente"])

display(df_completo)

,id_x,numero,saldo,id_y,nome,cpf
0,1,34828,10980.86,1,Bruno Raphael Andrade Santos,61501903314
1,2,63594,2236.49,2,Maria Victoria,12345678910
2,3,5276,5373.46,3,Pedro Miguel,01317906330
3,4,21717,4301.14,4,Kaique Pires,620.983.145-15
4,5,13005,1421.19,5,Brayan Duarte,269.451.730-70
...,...,...,...,...,...,...
1007,1008,95796,3953.36,1011,Lorenzo Campos,638.910.275-59
1008,1009,15723,4611.99,1012,Giovanna Moraes,912.458.760-58
1009,1010,87538,2249.51,1013,Brayan Campos,794.528.063-38
1010,1011,65884,3625.78,1014,Luiz Gustavo Sá,985.134.726-46
1011,1012,1569,10000.00,1015,Carlos Alexandre Bonavita,950.160.070-40